*.a       # 忽略所有 .a 结尾的文件
*.o       # 忽略所有.o的compile文件
*.pyc   
!lib.a    # 但 lib.a 除外（排除）
/TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
build/    # 忽略 build/ 目录下的所有文件
.libs/
lib/
cddlib-0.94j/
gmp-6.1.2/
gurobi900/linux64/
m4-1.4.1/
mpfr-4.1.0/
test_nns/
data/mnist_test_full.csv
data/cifar10_test_full.csv
install_geometric.sh
overview.png
aux_funcs/
data/acasxu/
tf_verify/LP_solver.log
tf_verify/nohup.out
tf_verify/fullrefine001_out.txt
tf_verify/smu0012_out.txt
tf_verify/refine_testing_reverse.py
tf_verify/smu001_out.txt
tf_verify/refine_testing_cp.py
tf_verify/multi_sce.lp
tf_verify/multi_sce.mps
gurobi950
tf_verify/draft.py